h1{
    margin: auto;
    width: 70%;
    padding: 10px;
    text-align: center;
    color: white;
    animation-name: example;
    animation-duration: 5s
    
    
    
}
body{
    background-color:#384b65;  ;
    font-family: sans-serif;
    display: flex;
    flex-direction: row ;
    margin: 0
    
    
    
}
.menu {
    list-style-type: none;
    margin: 0;
    height: 100%;
    padding: 0;
    width: 200px;
    background-color: #0E1C53;
    
    margin: 0;
    
  }
  
  li a {
    transition: all 0.3s;
    display: inline-flex;
    color: white;
    padding: 29px 18px;
    width: 130px;
    text-decoration: #000;
    color: white;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    
    
  }

  li a:hover {
      background-color: rgba(0, 0, 0, 0.3);
  }
  
h2{
    letter-spacing: 10px;
    padding: 10px 0px 10px 10px;
    text-transform: uppercase;
    color: #5869ff;
    text-align: center;
    display: inline-block;
} 
p{
    color : white;
    text-align: left;

}
img{
    margin: auto;
    width: 65%;
    border-radius: 5px;
    
    
    
}

h3{
    color: white ;
    text-align: left;
    
}
#presentation   {
    background-color: #030b1c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    box-shadow: 0px -7px 10px #71b8ff;
    text-align: center;
    transition: all 2.0s;
    animation: fadein 3s;
}


h4{
    color: #5869ff
}
main{
    padding: 40px;
    max-height: 100vh;
    overflow: auto;
    box-sizing: border-box;

}
nav ul li{
    border-bottom: 1px solid white
}
@keyframes example {
    0%   {color: rgb(117, 164, 252);}
    25%  {color: #5869ff;}
    50%  {color: blue;}
    100% {color: black;}
}
@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.closebtn, .openbtn{
    display: none;
}

