@media screen and (max-width: 576px){

    
   
    .main-menu {
        height: 100%;
        width:0 ;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #0E1C53;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      .main-menu a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .main-menu a:hover {
        color: #f1f1f1;
      }
      .closebtn, .openbtn{
          display: initial;
          border-radius: 10px;
          background-color: white;
         
      }

      
      .main-menu .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        
      }
}

@media screen and (min-width: 200px) and (max-width: 640px) {
    .bouton {
        display:block;
        position: fixed;
        left: 0;
        top: 0;
        clear:both;
        
    }
}

h1{
    width: 70px;
    
}

